<!doctype html>
<html class="no-js" lang="en">
<head>
  <link rel="stylesheet" href="/assets/css/bootstrap.css" >
  <meta charset="utf-8">
  <title>HackCrunch</title>
</head>
<body>
	<div id="mount"><%- markup %></div>

  <script type="text/javascript" src="mongobackup.js"></script>
</body>
</html>
