<!doctype html>
<html class="no-js" lang="en">
<head>
  <link rel="stylesheet" href="/assets/css/custom.css" >
  <link rel="stylesheet" href="/assets/css/bootstrap.css" >
  <meta charset="utf-8">
  <title>HackCrunch</title>
</head>
<body>
	<div id="mount" class="container"><%- markup %></div>

  <script type="text/javascript" src="newmongodb.js"></script>
  <script type="text/javascript" src="assets/js/vendor.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
</body>
</html>
