.fieldSize{
  width:200px !important;
}

.labelFieldSize{
  width:100px !important;
}

.loginFormWidth{
  width:400px !important;
  padding-top:50px !important;
}

.submitDivAlign{
  padding-left:30px!important;
}

body {
  background-image: url('/assets/images/bg.jpg');
  background-size: cover;
}
.login-title{
  color: #2b3e50;
}

.submitButtonWidth{
  width:150px !important;
}

.legendText{
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important
  font-size:12px !important;
}



.left-text{
  float:left !important;
}

.right-text{
  float:right !important;
}

.errorDivAlign{
  padding-left:100px !important;
  font-color:#FF0000 !important;
}
